            *{
                padding: 0;
                margin: 0;
                height: 2000px;
            }
            .box{
                height:500px;
                width:450px ;
                padding: 3px;
                margin: 3px;
                border: 2px solid black;

            }
            .box1{

             height: 111px;
             background-color: rgb(50, 5, 91);
             position: sticky;
             top: 0px;
             left: 150px;
             
            }
            
            .box2{
                height: 111px;
                background-color: red;
                position: relative;
                top: 34px;
                bottom: 56px;
                z-index: 6;
            }
            .box3{
                height: 111px;
                background-color: rgb(16, 228, 232);
                position: fixed;
                bottom: 50px;
                left: 25vw;

            }
            .box4{
                height: 111px;
                background-color: green;
                z-index: 5;
            
            }
            .parent{
                height: 600px;
                width: 600px;
                padding: 50px;
                margin: 80px;
                border: solid black;
                background-color: rgb(202, 126, 202);
                /*position: absolute;*/
              /* transform: translate(0);*/
            }

        